.card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #cecece;
  box-shadow: 0 0 2px 2px #cecece !important;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #cecece;
  margin: 0 10px;
  align-items: center;
}
